@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Train+One&display=swap");
@import url("mobile.css");
body {
  margin: 0;
  padding: 0;
}

.menu-bar{
  display: none;
}

.logo {
  position: relative;
  top: 1px;
  left: 80px;
  max-height: 0px;
}

nav {
  background-color: #398e8a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  font-family: "Inter", sans-serif;
}
nav .logo img {
  width: 100px;
}
nav .links {
  display: flex;
  align-items: center;
  gap: 25px;
}
nav .links a {
  text-decoration: none;
  color: white;
}
nav .links a:hover {
  color: #d4bfec;
  transition: 0.3s;
}
nav .btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: solid #d4bfec;
  border-radius: 20px;
  padding: 0.8rem 2rem;
}
nav .btn span {
  color: white;
  font-size: 0.8rem;
}
nav .btn:hover {
  background-color: #d4bfec;
  cursor: pointer;
  transition: 0.3s;
}
header {
  background-color: #074643;
  height: 100;
  display: flex;
  gap: 7rem;
  width: 100%;
  color: white;
  font-family: "inter";
  position: relative;
}

header .text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 7rem 9rem;
}
header .text .txt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
header .text .txt #head {
  font-family: "Train One", cursive;
  font-size: 2.5rem;
}
header .text .txt #light {
  font-size: 3rem;
  font-weight: 900;
}
header .text .txt small {
  font-size: 1rem;
  font-weight: 100;
}
header .text .btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}
header .text .btns button {
  background-color: #101c1b;
  color: white;
  font-family: inherit;
  font-size: 0.7rem;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 20px;
  font-weight: 900;
}
header .text .btns .icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 900;
  font-size: 0.8rem;
}
header .image img {
  display: flex;
  text-align: center;
  top: 30x;
  width: 400px;
  border-radius: 400px;
  z-index: 2;
  margin: 5rem;
}

header .image .txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  color: black;
  max-width: fit-content;
  padding: 0.5rem 1.5rem;
  gap: 0.5rem;
  border-radius: 30px;
  font-weight: 900;
  text-align: left;
  position: relative;
  bottom: 200px;
}

header .image .txt #head {
  font-size: 3rem;
  font-weight: 900;
}

header .image .txt span {
  font-size: 0.8rem;
}

/* Responsivensss */
/* Mobible */
@media only screen and (max-width: 480px) {
  nav {
    flex-direction: column;
  }
  nav .links {
    flex-direction: column;
  }

  nav .logo {
    position: relative;
    right: 140px;
  }
  nav .btns {
    position: relative;
    bottom: 33px;
    left: 90px;
    padding: 0.2rem 1rem;
  }
}
